@import url(https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Metal+Mania&display=swap);


#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    opacity: 0.85;
}

body {
  background-color: #154215;
}

.title {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Metal Mania', cursive;
  /* font-weight: 700; */
  font-size: 5em;
  color: white;
  text-align: center;
  opacity: 0.75;
  margin: auto;
  width: 90%;
  border: 0px solid green;
  padding: 0px;
  display: block;
  line-height: 200px;
  height: 200px;
}
